.loader,
.loader:before,
.loader:after {
  background: #000000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #000000;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgb(0, 212, 243);
  border: solid rgb(0, 212, 243);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0, 212, 243),
    inset 0 0.125em 0.5em rgb(0, 212, 243);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

#logo {
  width: 100px;
}

.logo-gf {
  color: #ffffff;
}

body {
  background-color: rgb(16, 16, 16);
}

td {
  padding-left: 25px;
  display: inline-grid;
}

.center {
  text-align: center;
}

.center-data {
  text-align: -webkit-center;
}

.btn-gf {
  background-color: rgb(0, 212, 243);
}

#cloud {
  width: 45vh;
  display: inline-block;
  max-width: -webkit-fill-available;
}

.project-tag {
  display: inline-block;
  margin: 4px;
  color: rgb(16, 16, 16);
  background-color: #ebf0ee;
  padding: 12px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border: 0;
  border-radius: 8px;
}

.project-tag:hover {
  background-color: rgb(0, 212, 243);
  -webkit-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

li {
  display: inline-block;
}

ul {
  margin-left: -2rem;
}

h1,
h2,
h3,
h4,
span,
p,
a,
.btn {
  font-family: "Roboto Mono", monospace;
}

.loader-box {
  height: 50px;
}

.profile {
  display: inline-block;
  width: 70px;
  margin-left: 14px;
  margin-right: 14px;
}

.flex {
  display: flex;
  align-items: center;
}

.padding {
  padding: 30px;
}
